[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = https://github.com/SFML/SFML
[submodule "extlibs/imgui"]
	path = extlibs/imgui
	url = https://github.com/ocornut/imgui/
[submodule "extlibs/imgui-sfml"]
	path = extlibs/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "extlibs/spdlog"]
	path = extlibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extlibs/utfcpp"]
	path = extlibs/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "extlibs/taglib"]
	path = extlibs/taglib
	url = https://github.com/taglib/taglib
[submodule "extlibs/json"]
	path = extlibs/json
	url = https://github.com/nlohmann/json
[submodule "cmake/CMutils"]
	path = cmake/CMutils
	url = https://github.com/pinam45/CMutils
